body{
/*padding-bottom: 50px*/;
background: #f0f2f4!important;
}



.main-container{
  margin-top: 20px;

}


.margenes-laterales-div{
  margin-left: 15px;
  margin-right: 15px;

}

/* animates*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

.top-20 {
  margin-top: 20px;
}


.fondo-violeta-cabezal-tabla {
  background-color: #dee4e9;
}

.fondo-violeta-fila-tabla {
  background-color: #f1f3f5;
}



.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}

.fileUpload {
    margin-left: 15px!important;
    position:relative;
    overflow: hidden;
    /*padding-left:  0px;*/
}
.fileUpload input.upload {

    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    /*font-size: 20px;*/
    /*cursor: pointer;*/
    opacity: 0;
    filter: alpha(opacity=0);
}


.padding5left {
    padding-left:  5px!important;
    /*padding-left:  0px;*/
}

.padding5top {
    padding-top:  5px!important;
    /*padding-left:  0px;*/
}

.padding10 {
    padding:  10px!important;
    /*padding-left:  0px;*/
}

.padding15 {
    padding:  15px!important;
    /*padding-left:  0px;*/
}

.margin30left {
    margin-left: -30px;

}

a.boxhead:hover, a.boxhead:visited, a.boxhead:link, a.boxhead:active
{
    text-decoration: none!important;
    color: #fff!important;
}
