/*BODY*/

.color {
    background: #f0f2f4;
}

/*BODY*/
.contenedor {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    overflow: hidden;
}

/*GENERALES*/

/*DIV CONTAINER*/


.blockConten {
font-size: 12px;
font-family:Arial;
min-height: 500px;
}
.blockConten {
  padding: 20px 20px;
  margin-bottom: 20px;
  background: white;
  box-shadow: 0px 3px 2px #dddddd;
  -webkit-box-shadow: 0px 3px 2px #dddddd;
  -moz-box-shadow: 0px 3px 2px #dddddd;
   border-radius: 5px; -moz-border-radius: 5px;
   -webkit-border-radius: 5px; }

/*TABLAS*/

table thead tr th { background: #dee4e9; color: #466b8e; font-weight: bold;  height: 26px; vertical-align: middle; padding: 5px; text-align: left; }
table thead tr th a { font-size: 12px; }
table tbody tr td { color: #525252; height: 26px; vertical-align: middle; font-size: 0.9em; padding: 2px 5px;}
table tbody tr.odd td { background: #f2f4f6; }
table tbody tr td i { color: #a3a3a3; }
table.tabGeneral thead tr th em { width:  100%; }
table.tabGeneral { margin-bottom: 20px; margin-top: 5px; }
table.tabGeneral thead tr th a { font-size: 1em; }
table.tabGeneral tbody tr td a { font-size: 1em; }
table.tabGeneral tbody tr td em { font-style: italic; color: #999999; }
table.tabGeneral tbody tr td em.bold { font-weight: bold; color: #525252; }
table.tabGeneral tbody tr td { background: white; }
table.tabGeneral tbody tr.odd td { background: #f2f4f6; }
table.tabGeneral thead tr th em { font-style: italic; }

.table100pc {
width: 100%;
}

.table50pc {
width: 50%;
}

/*TITULOS*/
.blockConten h4 {
    color: #253F66;
    line-height: 30px;
    margin-bottom: 10px;
    font-size:22px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin: 5px 0;
    display: block;
}

/*FOMULARIOS*/

.tableTop div{
    font-size: 0.8em;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-top: 10px;
}

/*BOTONES*/

a.cancelar { color: red; }
a.cancelar:hover { text-decoration: underline; color: red; }
a.volver:hover { text-decoration: underline}


.btnSiguiente {
    margin: 10px 0px;
    width: 100px;
    height: 45px;
    display: block;
    background: url(./assets/img/gradient.jpg) repeat-x;
    color: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-align: center;
    font-size: 1.3em!important;
    padding-top: 12px;
}

.btnSiguiente:hover {
    background: url(./assets/img/gradient_hover.jpg) repeat-x;
  color:#fff; border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-decoration: none; font-size:1.3em;}

.btnSiguiente a{ text-decoration: none;}

.spanUpload{   vertical-align: sub;}




.btnAddArchivo {
  text-align: center!important;


  height: 32px;
  width: 140px;
  margin: 0px 0;
  background: #f4f4f4;
  border: 1px solid #cccccc;
  display: block;
  border-radius: 3px;
  line-height: 27px;
  text-align:left;
  color: #0059b2;
  font-weight: bold; }
/*.btnAddArchivo:hover { color: #0059b2; text-decoration: none; background: #dadada; }*/
/*.btnAddArchivo.big { height: 40px; line-height: 40px; font-size: 15px; }*/
/*.btnAddArchivo.disable { color: #cccccc; cursor: default; }*/
/*.btnAddArchivo.disable:hover { background: #f4f4f4; }*/


.alertAcerca {
  padding-top: 1.75rem;
  padding-left: 0.45rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1.0rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  font-weight: bold;
  /*font-size: 1em!important;*/
  list-style-type: none;
  line-height: 1!important;
}
.alertAcerca li {list-style-type: none;}
.alertAcerca p {margin-bottom: 0.5rem;}

.alertAcercaDanger {
  background: #ffcfbf url(./assets/img/mensajeError.png) 10px  no-repeat;
}
