




<my-spinner [isRunning]="isRequesting"></my-spinner>

<div *ngIf="resultado?.errCod">
  <div class="alertAcerca alertAcercaDanger animated fadeIn"  role="alert"*ngIf="resultado?.errCod">
    <ul>
      <li>
          <p>{{resultado?.errDsc}}</p>
      </li>
    </ul>
  </div>

<a [routerLink]="['home']" class="cancelar">Volver</a>
</div>

<div class="container main-container" *ngIf="!isRequesting && !resultado?.errCod">

<h4>Resultado de la validación</h4>

<div class="margenes-laterales-div">
<div class="row fondo-violeta-cabezal-tabla">
<div class="col-sm-3"><strong>Resultado validación</strong></div>
<!--div class="col-sm-1 "></div-->
<div class="col-sm-3"><strong>Archivo</strong></div>
<div class="col-sm-2"><strong>Tipo Declaración</strong></div>
<div class="col-sm-1"><strong>Formato</strong></div>
<div class="col-sm-1"><strong>Versión</strong></div>

</div>
<div class="row fondo-violeta-fila-tabla">
  <div *ngIf="resultado.resultado==0" class="col-sm-3 text-success "><strong>{{resultado.resultadoDesc | uppercase}}</strong></div>
  <div *ngIf="resultado.resultado>0" class="col-sm-3 text-danger"><strong>{{resultado.resultadoDesc | uppercase}}</strong>
  </div>


<!--div class="col-sm-1" *ngIf="resultado.resultado==0">  <img

  data-toggle="tooltip" data-placement="top" title="Error"

  src="./assets/img/circulo_verde.gif"  alt=""></div>
<div class="col-sm-1" *ngIf="resultado.resultado>0">  <img
data-toggle="tooltip" data-placement="top" title="Correcto"
   src="./assets/img/circulo_rojo.gif"  alt=""></div-->
<div class="col-sm-3">{{resultado.nombreArchivo | nombreArchivo:10}} </div>
<div class="col-sm-2">{{resultado.tipoDecl}}</div>
<div class="col-sm-1">{{resultado.formato}}</div>
<div class="col-sm-1">{{resultado.version}}</div>

</div>
</div>

<hr>

<div class="margenes-laterales-div">
<div class="row fondo-violeta-cabezal-tabla">
<div class="col-sm-2"></div>
<div class="col-sm-2"><strong>TA</strong></div>
<div class="col-sm-3"><strong>Empresa</strong></div>
<div class="col-sm-5"><strong>Contribuyente</strong></div>
</div>
<div class="row">
<div class="col-sm-2 fondo-violeta-cabezal-tabla"><strong>Titular</strong></div>
<div class="col-sm-2 fondo-violeta-fila-tabla">{{resultado.codCajaTitular}}</div>
<div class="col-sm-3 fondo-violeta-fila-tabla">{{resultado.nroExternoEmpresaTitular}}</div>
<div class="col-sm-5 fondo-violeta-fila-tabla">{{resultado.nroExternoContribuyenteTitular}}</div>
</div>
<div class="row">
<div class="col-sm-2 fondo-violeta-cabezal-tabla"><strong>Contratista</strong></div>
<div class="col-sm-2">{{resultado.codCajaSecundaria}}</div>
<div class="col-sm-3">{{resultado.nroExternoEmpresaSecundaria}}</div>
<div class="col-sm-5">{{resultado.nroExternoContribuyenteSecundaria}}</div>
</div>
<div class="row">
<div class="col-sm-2 fondo-violeta-cabezal-tabla"><strong>Obra</strong></div>
<div class="col-sm-2 fondo-violeta-fila-tabla">{{resultado.nroObra}}</div>
<div class="col-sm-3 fondo-violeta-fila-tabla"></div>
<div class="col-sm-5 fondo-violeta-fila-tabla"></div>
</div>
</div>
<hr>


<div *ngIf="resultado.resultado>0" class="">

  <h4>Errores</h4>
  <table class="tabGeneral table100pc">
    <thead class="" >
      <tr>
        <th>Línea</th>
        <th>Descripción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let linea of resultado.lineasError; let i = index" [ngClass]="{'odd': (i+1)%2,'': (i)%2}">
        <td >{{linea.linea}} </td>
        <td >{{linea.descripcion}}</td></tr>
      </tbody>
  </table>
<hr>
</div>
<div class="dontprint">
  <a  (click)="imprimir()" href="javascript:void(0)" class=" btnSiguiente">Imprimir</a>
<a [routerLink]="['home.spa']" class="cancelar">Volver</a>
</div>
</div>
