<!--app-navbar></app-navbar-->
<!--body class="color"-->
<!--div class="color"-->
<div class="contenedor">
<div class="blockConten animated fadeIn">
<router-outlet></router-outlet>
</div>
</div>
<!--/div-->
 <!--window.parent.resizeIframe(window.parent.document.getElementById("frame"));-->
<!--/body-->
