<nav class="fondo-gris-celeste  navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="#">
      <img src="./assets/img/logo.png"  alt="">
  </a>

<h2 class="btn-block">Verificador de formatos ATyR</h2>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
</div>
</nav>
