<my-spinner [isRunning]="isRequesting"></my-spinner>


<div class="alertAcerca alertAcercaDanger animated fadeIn"  role="alert" *ngIf="errores?.length > 0">
  <ul>
    <li *ngFor="let error of errores">
      <p>{{error}}</p>
    </li>
  </ul>
</div>

<div class="container main-container" *ngIf="!isRequesting">

<div class="row justify-content-md-center">
<div class="">

        <div class="row">
        <div class="fileUpload btnAddArchivo">
         <span class="spanUpload">Seleccionar archivo</span>
         <input class=" upload" id="fileForUpload"
          type="file"
          (change)="fileChange($event)"
          placeholder="Subir archivo"
          >
       </div>

        <div class="padding10">
           {{name | nombreArchivo  | archivoNoSeleccionado}}
         </div>

         <div class="padding10">
           <a *ngIf="fileList!=null" class="cancelar" href="javascript:void(0)" (click)="limpiar()" >Eliminar</a>
         </div>
           </div>
           <!-- como es asincrónico tengo que esperar que esté el key para dibujar el captcha -->

<div class="padding5top">
         <div *ngIf="siteKey">
           <re-captcha site_key={{siteKey}}></re-captcha>
         </div>
         </div>

         <div class="">
         <a  (click)="verResultados()" href="javascript:void(0)" class="boxhead btnSiguiente">Validar</a>
         </div>
  </div>
      </div>
</div>
